header{
    background-color: #FF0000;
    height: 60px;
    width: 100%;
    padding-top: 10px;
    position: relative;
}
header .container{
    background-color: #00FF00;
    height: 50px;
    max-width: 1000px;
    list-style-type: none;
    margin: 0 auto;
    position: relative;
    padding: 0;
}
li{
    float: left;
}
header .logo {
    background-color: #0000FF;
    height: 100%;
    width: 120px;

}
header .logo a{
    height: 100%;
    width: 100%;
}

.search{
    background-color: #550000;
    position:absolute;
    height: 40px;
    left: 140px;
    right: 220px;
    margin: 5px 0 5px 0;
    display:flex;
}
.user{
    background-color: #005500;
    height: 100%;
    width: 200px;
    float: right;
}
.find{
    background-color: #005555;
    height: 100%;
    width: 45%;
    display: flex;

}
.location{
    background-color: #009999;
    height: 100%;
    width: 45%;
    display: flex;
}
.action{
    background-color: #119911;
    height: 100%;
    width: 10%;
}
label{
    padding: 0px 10px 0px 10px;
    font-weight: 600;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}
#search_find, #search_location{
    width: 100%;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    vertical-align: text-top;
    border-style:hidden;
}
#search_submit{
    background-color: red;
    color: white;
    height: 100%;
    width: 100%;
}